p {
  overflow: hidden;
  background: linear-gradient(90deg, #000, #fff, #000);
  background-repeat: no-repeat;
  background-size: 80%;
  animation: animate 8s linear infinite;
  -webkit-background-clip: text;
  -webkit-text-fill-color: rgba(255, 255, 255, 0);
}

@keyframes animate {
  0% {
    background-position: -500%;
  }
  100% {
    background-position: 500%;
  }
}

.animate-charcter {
  text-transform: uppercase;
  background-image: linear-gradient(
    -20deg,
    #000000 0%,
    #ff00ff 29%,
    #00ff00 67%,
    #fff800 100%
  );
  background-size: auto auto;
  background-clip: border-box;
  background-size: 200% auto;
  color: #fff;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: textclip 2s linear infinite;
  display: inline-block;
  font-size: 20px;
}

@keyframes textclip {
  to {
    background-position: 200% center;
  }
}

.information {
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: auto;
  grid-template-areas:
    "pos1 pos2 pos3"
    "pos4 pos5 pos6";
  gap: 5px;
}

body {
  background-color: bisque;
}

.pos1 {
  background-color: bisque;
  grid-area: pos1;
  width: 100%;
  height: auto;
}

.pos2 {
  background-color: bisque;
  grid-area: pos2;
  width: 100%;
  height: auto;
}

.pos3 {
  background-color: bisque;
  grid-area: pos3;
  width: 100%;
  height: auto;
}

.pos4 {
  background-color: bisque;
  grid-area: pos4;
  width: 100%;
  height: auto;
}

.pos5 {
  background-color: bisque;
  grid-area: pos5;
  width: 100%;
  height: auto;
}

.pos6 {
  background-color: bisque;
  grid-area: pos6;
  width: 100%;
  height: auto;
}

@media screen and (max-width: 200px) {
  .pos6 {
    flex: 25%;
    max-width: 25%;
    padding: 0 4px;
  }

  .information {
    grid-template-columns: 1fr 1fr;
  }
}
