body {
  background-color: #ffdeb6;
  font-size: 20t;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}
main {
  font-size: 12pt;
}
